<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Reactivity.Nodes.Demo.SerialPort" value="COM4"/>
    <add key="Reactivity.Nodes.Demo.SerialBaud" value="115200"/>
    <add key="Reactivity.Nodes.Demo.ServiceURI" value="http://localhost/node.svc"/>
    <add key="Reactivity.Nodes.Demo.Devices.Temp1" value="50acce01-1aca-404a-83b6-0ed314d4d446"/>
    <add key="Reactivity.Nodes.Demo.Devices.Light1" value="ba66b6f0-a4df-4b01-a39b-92ead2b0270a"/>
    <add key="Reactivity.Nodes.Demo.Devices.Light2" value="d254df48-f690-4e57-805e-09cf8f76f924"/>
  </appSettings>
</configuration>
