/* BODY
------------------------------------------- */
body
{
	background: #12242b;
	margin: 0px 0px 10px 0px;
	font-size: 9pt;
	font-family: Arial,Helvetica,sans-serif;
}

/* COMMON STUFF
------------------------------------------- */
textarea, input, select, option, button { font: 1em Arial,Helvetica,sans-serif; }
fieldset { border: none; margin: 0 0 12px; padding: 0; }
legend { display: none; }
button { overflow: visible; cursor: pointer; }
img { border: none; }
abbr, acronym { border-bottom: 1px dotted #aaa; }
embed { display: block; }
dl { margin: 0 0 12px; }
dt { font-weight: bold; }
dd { margin: 0; }
p { margin: 0 0 12px; }
a { color: #369; text-decoration: none; }
a:hover, a:focus, a:active { color: #BF1414; text-decoration: underline; }
strong { color:#000000; }
a.button { display: block; padding: 0 0 0 10px; background: url(../images/button.png) no-repeat; color: #7993ab; }
a.button:hover { color: #364b5f; text-decoration: none; }
a.button span { display: block; padding: 0 10px 0 0; background: url(../images/button.png) 100% 0 no-repeat; line-height: 22px; text-align: center; cursor: pointer; }

/* HEADINGS
------------------------------------------- */
h1, h2, h3, h4, h5, h6 { margin: 0 0 7px; font: bold 2.4em "Myriad Pro",Verdana,Arial,Helvetica,sans-serif; color: #bf1414; }
h1 { margin-bottom: 15px; font-size: 2.73em; }
 h1 strong { color: #1b252a; }
h2 { font-size: 1.64em; }
h3 { color: #1b252a; font-size: 1.64em; }
h4 { color: #1b252a; font: bold 1.45em Arial,Helvetica,sans-serif; }
h5 { font-size: 1.00em; }
h6 { font-size: 0.80em; }


/* HEADER
------------------------------------------- */
.header
{
	height: 120px;
	border-bottom: 6px #475564 solid;
	padding: 0px 20px 0px 20px;
}
.header div.inner
{
	text-align: left;
	width: 800px;
	overflow:hidden;
	margin: 0px 20px 0px 20px;
}

.menubar
{
	margin-top: 90px;
	float:right;
	overflow:hidden;
	height:36px;

}

.nav
{
	font-family:"trebuchet MS", tahoma, arial, sans-serif;
	font-weight:bolder;
	font-size:12px;
	color:#fff;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow:hidden;
}
.nav li
{
	display: block;
	float:left;
	margin: 0 1px 0 0;
	padding: 0;
}
.nav li a, .nav li a:link, .nav li a:visited
{
	color:#c6d8e6;
	background:url(../images/nav-tabs.gif) no-repeat left top;
	width:66px;
	height:36px;
	overflow:hidden;
	text-align:center;
	margin:0;
	padding:13px 0 0 0;
	display:block;
	text-decoration:none;

}
.nav li a:hover
{
	background:url(../images/nav-tabs.gif) no-repeat left -50px;
	color:#000;
}
.nav li a:active, .nav li a.active
{
	background:url(../images/nav-tabs.gif) no-repeat left -100px;
	color:#000;
}



/* SUB NAVIGATION
------------------------------------------- */
.submenubar
{
	height: 35px;
	background: #C0D1E1 url(../images/subnav-bg.jpg) repeat-x;
	text-align: center;
	padding: 0px 20px 0px 20px;
}

.submenubar div.inner
{
	margin: 0px 20px 0px 20px;
	vertical-align: middle;
	height: 35px;
	width: 800px;
	text-align: left;
	overflow: hidden;
	clear:both;
}

.subnav
{
	font-family:Arial, Helvetica, tahoma, sans-serif;
	font-weight:bolder;
	font-size:11px;
	color:#fff;
	margin: 0px;
	padding: 0px;
	list-style: none;
	height:35px;
	overflow:hidden;
	clear:both;
	display: block;
}
.subnav li
{
	display: block;
	float:left;
	margin: 0 1px 0 0;
	padding: 0;
}
.subnav li a
{
	color:#fff;
	background: #7493b1 url(../images/subnav-tabs.gif) no-repeat left -50px;
	width:115px;
	height:35px;
	text-align:center;
	margin:10px 0 0;
	padding:6px 0 0;
	display:block;
	text-decoration:none;
}
.subnav li a:hover
{
	background: #b33737 url(../images/subnav-tabs.gif) no-repeat left -50px;
	color:#fff;
	z-index: 500;
}
.subnav li a.active
{
	background: url(../images/subnav-tabs.gif) no-repeat left top;
	color:#000;
}



/* CONTENT
------------------------------------------- */
.content
{
	background: #FFFFFF url(../images/content-bg-top.gif) repeat-x;
	text-align: center;
	padding: 20px 20px 0px 20px;

}

.content div.inner
{
	width: 800px;
	text-align: left;
	margin: 0px 20px 0px 20px;
}


.bottom
{
	height: 59px;
	background: url(../images/content-bg-bottom.gif) repeat-x;
	text-align: center;
}

/* FOOTER
------------------------------------------- */
.footer
{
	height: 32px;
	background: #FFFFFF url(../images/footer-bg.gif) repeat-x;
	vertical-align: middle;
	text-align: center;
	font-size: 8pt;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	text-transform: uppercase;
	padding: 0px 20px 0px 20px;
}

.footer div.inner
{
	overflow: hidden;
	padding: 8px 0;
	width: 800px;
	text-align: left;
	margin: 0px 20px 0px 20px;
}

.footer a { color: #7997aa; }

.copyright
{
	color: #59697a;
	padding: 20px;
	margin: 0px 20px 0px 20px;
	text-align: center;
	font-size: 8pt;
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	text-transform: uppercase;
}

.copyright a
{
	color: #59697a;
}
