<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Reactivity.Nodes.Computer.ServiceUri" value="http://localhost/node.svc"/>
    <add key="Reactivity.Nodes.Computer.Feedback" value="true"/>
    <add key="Reactivity.Nodes.Computer.DenyControl" value="false"/>
    <add key="Reactivity.Nodes.Computer.Device" value="91341a53-2e46-48a6-bd81-80b4daf505b5"/>
    <add key="Reactivity.Nodes.Computer.ConnectionRetryInterval" value="10000"/>
  </appSettings>
</configuration>
