<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
    <!-- Client session sessings-->
		<add key="Reactivity.Server.Clients.ClientSession.CleanInterval" value="60000" />
		<add key="Reactivity.Server.Clients.ClientSession.Expires" value="5" />
    <add key="Reactivity.Server.Clients.ClientSession.ClientEventQueueLength" value="200" />
		<!-- Node session settings-->
    <add key="Reactivity.Server.Nodes.NodeSession.CleanInterval" value="30000" />
		<add key="Reactivity.Server.Nodes.NodeSession.Expires" value="1" />
    <add key="Reactivity.Server.Nodes.NodeSession.NodeEventQueueLength" value="200" />
		<!-- Rule chain settings -->
    <add key="Reactivity.Server.RuleChain.ThreadCount" value="5" />
		<add key="Reactivity.Server.RuleChain.DataDequeueTimeout" value="1000" />
    <add key="Reactivity.Server.RuleChain.DataQueueLength" value="10000"/>
    <add key="Reactivity.Server.RuleChain.AssembliesStoragePath" value="D:\Project\Reactivity\Server\Assemblies" />
    <add key="Reactivity.Server.RuleChainCompiler.ReactivityAssemblyPath" value="D:\Project\Reactivity\Server\Assemblies\Reactivity.dll"/>
    <!-- Resource settings -->
    <add key="Reactivity.Server.ResourceManager.ResourceIndexFilePath" value="D:\Project\Reactivity\Server\Resources\index.xml" />
    <add key="Reactivity.Server.ResourceManager.ResourceCollectionPath" value="D:\Project\Reactivity\Server\Resources" />
    <!-- Statistics settings -->
    <add key="Reactivity.Server.StatisticsManager.DataDequeueTimeout" value="1000" />
    <add key="Reactivity.Server.StatisticsManager.DataQueueLength" value="10000"/>
    <add key="Reactivity.Server.StatisticsManager.TimerInterval" value="20000"/>
    <add key="Reactivity.Server.StatisticsManager.MinutesToKeep" value="1440"/>
    <add key="Reactivity.Server.StatisticsManager.HoursToKeep" value="744"/>
    <add key="Reactivity.Server.StatisticsManager.DaysToKeep" value="366"/>
    <add key="Reactivity.Server.StatisticsManager.MonthsToKeep" value="120"/>
    <!-- Log settings -->
    <add key="Reactivity.Util.EventLog.LogFilePath" value="D:\Project\Reactivity\Server\Log\Reactivity.log" />
		<add key="Reactivity.Data.Connection" value="Sql" />
	</appSettings>
	<connectionStrings>
    <!-- Database configuration -->
		<add name="Sql" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Reactivity;User ID=yourusernamehere;Password=yourpasswordhere" />
	</connectionStrings>
	<system.web>
		<authentication mode="None" />
		<customErrors mode="Off" />
		<compilation debug="true" />
  </system.web>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="basicHttpBindingConfiguration" transferMode="StreamedResponse" maxReceivedMessageSize="52428800" maxBufferPoolSize="52428800" maxBufferSize="52428800" />
   </basicHttpBinding>
  </bindings>
  <services>
   <service behaviorConfiguration="ClientServiceBehavior" name="Reactivity.Server.Clients.ClientService">
    <endpoint binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="Reactivity.Server.Clients.IClientService" />
   </service>
   <service behaviorConfiguration="NodeServiceBehavior" name="Reactivity.Server.Nodes.NodeService">
    <endpoint binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="Reactivity.Server.Nodes.INodeService" />
   </service>
  </services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ClientServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
				<behavior name="NodeServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>